In [1]:
import pandas as pd
import sqlalchemy as sql
import database as db
import betSim as bs
import mysql.connector as mysql

In [2]:
db.getTournaments()

    tournamentID           tournament_name  year region
0              1           LCK_Spring_2022  2022    LCK
1              2  LCK_Spring_Playoffs_2022  2022    LCK
2              3           LPL_Spring_2022  2022    LPL
3              4  LPL_Spring_Playoffs_2022  2022    LPL
4              5           LEC_Spring_2022  2022    LEC
5              6  LEC_Spring_Playoffs_2022  2022    LEC
6              7           LCS_Spring_2022  2022    LCS
7              8  LCS_Spring_Playoffs_2022  2022    LCS
8              9                  MSI_2022  2022    MSI
9             10           LCK_Summer_2022  2022    LCK
10            11           LPL_Summer_2022  2022    LPL
11            12           LEC_Summer_2022  2022    LEC
12            13           LCS_Summer_2022  2022    LCS

In [8]:
# very basic simulation of a beting strategy
units =100.0
for i in range(len(df)):
    if (units < 1):
        print(f'no more units left after {str(i)} games')
        break
    outcome = bs.towerBet(i, df, 'under', 11.5)
    if(outcome == 1):
        units += 0.83
    else:
        units -= 1

print(f'units: {str(units)}')

units: 147.86000000000044

In [5]:
#test if the database is working
db_test = mysql.connect(host='140.238.205.186', user='loki', passwd='Thethethe3!', database='lolz')
mycursor = db_test.cursor()
mycursor.execute('SHOW DATABASES')
print(mycursor.fetchall())

[('information_schema',), ('lolz',), ('mysql',), ('performance_schema',), ('sys',), ('test',)]